/* [class="nav navbar-nav"] {
    background-color: #285d22;
    z-index: 1000000;
}

.logo{
    background-color: #285d22;
    z-index: 1000000;
}

nav.navbar.navbar-static-top {
    background-color: #285d22;
    z-index: 1000000;
}
.skin-blue .main-header .navbar {
    background-color: #285d22;
    z-index: 1000000;
}
 */
